<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看学生信息</title>
</head>
<body>
<h1 align="center">学生信息</h1>
<div align="center">
    <p>
        <label>姓名</label>
        <input name = "name" style="" value="${object.name}" disabled>
    </p>
    <p>
        <label>学号</label>
        <input name = "id" value="${object.id}"disabled>
    </p>
    <p>
        <label>学费</label>
        <input name = "cost" value="${object.cost}"disabled>
    </p>
    <p>
        <label>密码</label>
        <input name = "password" value="${object.password}"disabled>
    </p>
</div>
</html>