#{extends 'main.html' /}
#{set title:'Home' /}

#{if session.get("username")}
<div align="center" style="font-size: 50px;font-style: inherit">欢迎: ${user} ！</div>

<div align="center" style="font-size: 20px;font-style: inherit"><p><a href = @{UnderGraduates.studentsadmin()}>本科生管理</a></p></div>
<div align="center" style="font-size: 20px;font-style: inherit"><p><a href = @{Graduates.studentsadmin()}>研究生管理</a></p></div> 
<div id="logout" align="center" style="font-size: small;font-style: inherit"><p><a href=@{Secure.logout()}>
        	&{"退出管理系统"}
</a></p></div>
#{/if}
#{else}
<h1 align="center">学生管理系统</h1>
<div id="login" align="center" style="font-style: inherit;font-size: small;">
    <p><a href=@{Secure.login()}> &{"请先登陆"}
    </a></p></div>
#{/else}